opportunity-proposal-follow-up-7-day-task-sequence.json
{
  "name": "Proposal Follow-Up 7-Day Task Sequence",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "SAMPLE_NODE_ID_001",
      "name": "Poll Proposal Follow Up 7 Opportunities",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2912,
        224
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg1",
              "name": "defaultOwnerId",
              "type": "string",
              "value": "SAMPLE_RECORD_ID"
            }
          ]
        },
        "options": {}
      },
      "id": "SAMPLE_NODE_ID_002",
      "name": "Proposal Follow-Up Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2688,
        224
      ]
    },
    {
      "parameters": {
        "resource": "search",
        "query": "=SELECT Id, Name, OwnerId, Engagement_Status__c, CreatedDate\nFROM Opportunity\nWHERE Engagement_Status__c = 'Proposal Follow Up (7)'\nAND IsClosed = false\nORDER BY LastModifiedDate ASC\nLIMIT 100"
      },
      "id": "SAMPLE_NODE_ID_003",
      "name": "Fetch Proposal Follow Up 7 Opportunities",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1.1,
      "position": [
        -2464,
        224
      ]
    },
    {
      "parameters": {
        "resource": "search",
        "query": "={{ (function() {\n  const opportunities = $('Fetch Proposal Follow Up 7 Opportunities').all();\n  if (!opportunities.length) return \"SELECT Id, WhatId, Subject, ActivityDate, CreatedDate FROM Task WHERE Id = null LIMIT 1\";\n  const esc = (s) => String(s).replace(/'/g, \"\\\\'\");\n  const subjects = [\n    'Proposal Follow Up - Confirm Proposal Sent',\n    'Proposal Follow Up - Call #1',\n    'Proposal Follow Up - Email #1',\n    'Proposal Follow Up - Call #2',\n    'Proposal Follow Up - Email #2',\n    'Proposal Follow Up - Status Review'\n  ];\n  const subjectList = subjects.map((s) => \"'\" + esc(s) + \"'\").join(', ');\n  const opportunityIds = opportunities.map((o) => \"'\" + esc(o.json.Id) + \"'\").join(', ');\n  return \"SELECT Id, WhatId, Subject, ActivityDate, CreatedDate FROM Task WHERE WhatId IN (\" + opportunityIds + \") AND Subject IN (\" + subjectList + \") LIMIT 1000\";\n})() }}"
      },
      "id": "SAMPLE_NODE_ID_004",
      "name": "Fetch Proposal Sequence Tasks - Opportunities",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1.1,
      "position": [
        -2240,
        224
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const STEPS = [\n  {\n    key: 'Day_0',\n    offsetDays: 0,\n    subject: 'Proposal Follow Up - Confirm Proposal Sent',\n    action: 'Confirm the proposal was sent and a follow-up meeting was requested.',\n    guidelines: 'Confirm the personalized proposal email, proposal attachment or link, Proposal Sent Date, and proposed review date.'\n  },\n  {\n    key: 'Day_1',\n    offsetDays: 1,\n    subject: 'Proposal Follow Up - Call #1',\n    action: 'Call to confirm proposal receipt.',\n    guidelines: 'Confirm that the prospect received the proposal, ask what questions they have, and try to schedule a proposal review if one is not already booked.'\n  },\n  {\n    key: 'Day_2',\n    offsetDays: 2,\n    subject: 'Proposal Follow Up - Email #1',\n    action: 'Send proposal follow-up email #1.',\n    guidelines: 'Ask whether they had a chance to review the proposal, offer to walk through it with Example User or Io, and confirm any legal, technical, or stakeholder questions.'\n  },\n  {\n    key: 'Day_3',\n    offsetDays: 3,\n    subject: 'Proposal Follow Up - Call #2',\n    action: 'Complete the proposal review and objection-check call.',\n    guidelines: 'Discuss questions, the decision process, stakeholders, legal or technical review needs, and whether they want to move to agreement.'\n  },\n  {\n    key: 'Day_5',\n    offsetDays: 5,\n    subject: 'Proposal Follow Up - Email #2',\n    action: 'Send proposal follow-up email #2 with a next-step call to action.',\n    guidelines: 'Keep it concise. Ask whether they are ready for contract review, need a proposal review meeting, or need changes or clarification.'\n  },\n  {\n    key: 'Day_7',\n    offsetDays: 7,\n    subject: 'Proposal Follow Up - Status Review',\n    action: 'Review the Opportunity\\u2019s Proposal follow-up status and choose the next step.',\n    guidelines: 'Move to Contract if agreement or contract review is requested; restart another 7-day Proposal Follow-Up Sequence if active review continues; set a dated Follow-Up Date; or move to Closed Lost if no viable path remains.'\n  }\n];\n\nconst DAY0_SUBJECT = 'Proposal Follow Up - Confirm Proposal Sent';\nconst tz = 'America/Los_Angeles';\nconst todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n\nfunction addDays(dateStr, days) {\n  const [y, m, d] = dateStr.split('-').map(Number);\n  const dt = new Date(Date.UTC(y, m - 1, d + days));\n  return dt.toISOString().slice(0, 10);\n}\n\nfunction toW11DateTime(dateStr) {\n  const [y, m, d] = dateStr.split('-').map(Number);\n  return new Date(Date.UTC(y, m - 1, d, 20, 0, 0)).toISOString();\n}\n\nfunction buildStepResult(opportunity, step, anchorDate) {\n  const opportunityId = String(opportunity.Id || '');\n  const stepIndex = STEPS.findIndex((s) => s.key === step.key);\n  const isFinalStep = step.key === 'Day_7';\n  const effectiveAnchor = anchorDate || todayStr;\n  const isDay0Bootstrap = step.offsetDays === 0 && !anchorDate;\n  const rawDueDateStr = isDay0Bootstrap ? todayStr : addDays(effectiveAnchor, step.offsetDays);\n  const needsW11Gate = !isDay0Bootstrap;\n  let nextFollowUpRawDateStr = '';\n  if (!isFinalStep) {\n    const nextStep = STEPS[stepIndex + 1];\n    if (nextStep) {\n      nextFollowUpRawDateStr = addDays(effectiveAnchor, nextStep.offsetDays);\n    }\n  }\n  return {\n    json: {\n      opportunityId,\n      sequenceKey: opportunityId + '_ProposalFollowUp7',\n      opportunityName: String(opportunity.Name || ''),\n      opportunityOwnerId: String(opportunity.OwnerId || ''),\n      anchorDate: effectiveAnchor,\n      stepKey: step.key,\n      stepIndex,\n      taskSubject: step.subject,\n      taskAction: step.action,\n      taskGuidelines: step.guidelines,\n      isFinalStep,\n      needsW11Gate,\n      rawDueDateStr,\n      w11DueDateTime: toW11DateTime(rawDueDateStr),\n      nextFollowUpRawDateStr,\n      w11NextDateTime: nextFollowUpRawDateStr ? toW11DateTime(nextFollowUpRawDateStr) : '',\n      w11Timezone: tz,\n      todayStr\n    }\n  };\n}\n\nconst tasksByOpportunity = {};\nconst day0AnchorByOpportunity = {};\n\nfor (const t of $('Fetch Proposal Sequence Tasks - Opportunities').all()) {\n  const what = String(t.json.WhatId || '');\n  const subj = String(t.json.Subject || '');\n  if (!what || !subj) continue;\n  if (!tasksByOpportunity[what]) tasksByOpportunity[what] = new Set();\n  tasksByOpportunity[what].add(subj);\n\n  if (subj === DAY0_SUBJECT) {\n    const activityDate = String(t.json.ActivityDate || '').slice(0, 10);\n    const createdDate = String(t.json.CreatedDate || '').slice(0, 10);\n    const anchor = activityDate || createdDate;\n    if (anchor && (!day0AnchorByOpportunity[what] || anchor < day0AnchorByOpportunity[what])) {\n      day0AnchorByOpportunity[what] = anchor;\n    }\n  }\n}\n\nconst results = [];\n\nfor (const item of $('Fetch Proposal Follow Up 7 Opportunities').all()) {\n  const opportunity = item.json;\n  const opportunityId = String(opportunity.Id || '');\n  if (!opportunityId) continue;\n\n  // Only Opportunities whose Engagement Status picklist is currently\n  // \"Proposal Follow Up (7)\" remain eligible for this sequence.\n  // Closed Opportunities are excluded by the SOQL filter.\n  const existingSubjects = tasksByOpportunity[opportunityId] || new Set();\n  const anchorDate = day0AnchorByOpportunity[opportunityId] || null;\n  const stepsToCreate = [];\n\n  if (!anchorDate) {\n    if (!existingSubjects.has(DAY0_SUBJECT)) {\n      stepsToCreate.push(STEPS[0]);\n    }\n  } else {\n    for (let i = 1; i < STEPS.length; i++) {\n      const step = STEPS[i];\n      if (existingSubjects.has(step.subject)) continue;\n      stepsToCreate.push(step);\n      break;\n    }\n  }\n\n  for (const step of stepsToCreate) {\n    results.push(buildStepResult(opportunity, step, anchorDate));\n  }\n}\n\nreturn results;"
      },
      "id": "SAMPLE_NODE_ID_005",
      "name": "Determine Proposal Follow Up 7 Sequence Step",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2016,
        224
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_WORKFLOW_ID"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "dateTime": "={{ $json.w11DueDateTime }}",
            "timezone": "={{ $json.w11Timezone }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "dateTime",
              "displayName": "dateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "SAMPLE_NODE_ID_006",
      "name": "Call W11 - Adjust Proposal Task Due Date",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1792,
        224
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const preItems = $('Determine Proposal Follow Up 7 Sequence Step').all();\nconst results = [];\n\nfor (const w11Item of $input.all()) {\n  const pi = w11Item.pairedItem?.item;\n  if (pi === undefined || pi === null) continue;\n\n  const ctx = preItems[pi]?.json;\n  if (!ctx || !ctx.opportunityId) continue;\n\n  if (ctx.needsW11Gate !== true) {\n    results.push({ json: { ...ctx, adjustedDueDateStr: ctx.rawDueDateStr } });\n    continue;\n  }\n\n  const w11 = w11Item.json || {};\n  let adjustedDueDateStr = null;\n  if (w11.isBusinessDay === true) {\n    adjustedDueDateStr = String(w11.localDate || w11.nextBusinessDay || '').substring(0, 10);\n  } else {\n    adjustedDueDateStr = String(w11.nextBusinessDay || '').substring(0, 10);\n  }\n  if (!adjustedDueDateStr || adjustedDueDateStr.length < 8) continue;\n  if (adjustedDueDateStr > ctx.todayStr) continue;\n\n  results.push({ json: { ...ctx, adjustedDueDateStr } });\n}\n\nreturn results;"
      },
      "id": "SAMPLE_NODE_ID_007",
      "name": "Apply W11 - Confirm Proposal Task Due",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        224
      ]
    },
    {
      "parameters": {
        "resource": "search",
        "query": "={{ (function() {\n  const items = $('Apply W11 - Confirm Proposal Task Due').all();\n  if (!items.length) return \"SELECT Id, WhatId, Subject FROM Task WHERE Id = null LIMIT 1\";\n  const esc = (s) => String(s).replace(/'/g, \"\\\\'\");\n  const conditions = items.map((i) => \"(WhatId = '\" + esc(i.json.opportunityId) + \"' AND Subject = '\" + esc(i.json.taskSubject) + \"')\").join(' OR ');\n  return \"SELECT Id, WhatId, Subject FROM Task WHERE \" + conditions + \" LIMIT \" + (items.length + 10);\n})() }}"
      },
      "id": "SAMPLE_NODE_ID_008",
      "name": "Check Existing Proposal Opportunity Tasks",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1.1,
      "position": [
        -1344,
        224
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const existing = new Set();\nfor (const t of $('Check Existing Proposal Opportunity Tasks').all()) {\n  const what = String(t.json.WhatId || '');\n  const subj = String(t.json.Subject || '');\n  if (!what || !subj) continue;\n  existing.add(what + '|' + subj);\n}\n\nconst results = [];\nfor (const item of $('Apply W11 - Confirm Proposal Task Due').all()) {\n  const d = item.json;\n  const key = d.opportunityId + '|' + d.taskSubject;\n  results.push({ json: { ...d, taskExists: existing.has(key) } });\n}\nreturn results;"
      },
      "id": "SAMPLE_NODE_ID_009",
      "name": "Normalize Proposal Task Existence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.taskExists }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "SAMPLE_NODE_ID_010",
      "name": "Proposal Task Already Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -896,
        224
      ]
    },
    {
      "parameters": {},
      "id": "SAMPLE_NODE_ID_011",
      "name": "Skip - Proposal Task Already Exists",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -672,
        352
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "status": "Not Started",
        "additionalFields": {
          "activityDate": "={{ $json.adjustedDueDateStr }}",
          "description": "={{ 'Action: ' + $json.taskAction + '\\n\\nGuidelines: ' + $json.taskGuidelines + '\\n\\nOpportunity: ' + $json.opportunityName + '\\nSequence Step: ' + $json.stepKey + '\\nWorkflow: W15O - Opportunity Proposal Follow Up 7-Day Task Sequence' }}",
          "owner": "={{ $json.opportunityOwnerId || $('Proposal Follow-Up Config').first().json.defaultOwnerId }}",
          "priority": "Normal",
          "subject": "={{ $json.taskSubject }}",
          "whatId": "={{ $json.opportunityId }}"
        }
      },
      "id": "SAMPLE_NODE_ID_012",
      "name": "Create Proposal Follow-Up Task",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1.1,
      "position": [
        -672,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const normalizeItems = $('Normalize Proposal Task Existence').all();\nconst results = [];\nfor (const item of $input.all()) {\n  const pi = item.pairedItem?.item;\n  if (pi === undefined || pi === null) continue;\n  const ctx = normalizeItems[pi]?.json;\n  if (!ctx || !ctx.opportunityId || ctx.taskExists === true) continue;\n  results.push({ json: { ...ctx } });\n}\nreturn results;"
      },
      "id": "SAMPLE_NODE_ID_013",
      "name": "Recover Proposal Context After Create",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isFinalStep }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "SAMPLE_NODE_ID_014",
      "name": "Final Proposal Step?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        96
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_WORKFLOW_ID"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "dateTime": "={{ $json.w11NextDateTime }}",
            "timezone": "={{ $json.w11Timezone }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "dateTime",
              "displayName": "dateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "SAMPLE_NODE_ID_015",
      "name": "Call W11 - Next Proposal Follow-Up Date",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        0,
        192
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const preItems = $('Recover Proposal Context After Create').all();\nconst results = [];\n\nfor (const w11Item of $input.all()) {\n  const pi = w11Item.pairedItem?.item;\n  if (pi === undefined || pi === null) continue;\n\n  const ctx = preItems[pi]?.json;\n  if (!ctx || !ctx.opportunityId) continue;\n\n  const w11 = w11Item.json || {};\n  let nextDueDateStr = null;\n  if (w11.isBusinessDay === true) {\n    nextDueDateStr = String(w11.localDate || w11.nextBusinessDay || '').substring(0, 10);\n  } else {\n    nextDueDateStr = String(w11.nextBusinessDay || '').substring(0, 10);\n  }\n  if (!nextDueDateStr || nextDueDateStr.length < 8) {\n    results.push({ json: { ...ctx, nextDueDateStr: ctx.nextFollowUpRawDateStr } });\n    continue;\n  }\n\n  results.push({ json: { ...ctx, nextDueDateStr } });\n}\n\nreturn results;"
      },
      "id": "SAMPLE_NODE_ID_016",
      "name": "Apply W11 - Set Next Proposal Follow-Up",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        192
      ]
    },
    {
      "parameters": {
        "resource": "customObject",
        "operation": "upsert",
        "customObject": "Engagement_Status_Tracker__c",
        "externalId": "Sequence_Key__c",
        "externalIdValue": "={{ $json.sequenceKey }}",
        "customFieldsUi": {
          "customFieldsValues": [
            {
              "fieldId": "Sequence_Key__c",
              "value": "={{ $json.sequenceKey }}"
            },
            {
              "fieldId": "Related_Opportunity__c",
              "value": "={{ $json.opportunityId }}"
            },
            {
              "fieldId": "Active_Sequence_Step__c",
              "value": "={{ $json.stepKey }}"
            },
            {
              "fieldId": "Last_Sequence_Step_Sent__c",
              "value": "={{ $json.stepKey }}"
            },
            {
              "fieldId": "Next_Follow_Up_Date_Lead__c",
              "value": "={{ $json.nextDueDateStr }}"
            },
            {
              "fieldId": "Last_Sequence_Action_At__c",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "SAMPLE_NODE_ID_017",
      "name": "Update Proposal EST Sequence Tracking",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1.1,
      "position": [
        448,
        192
      ]
    },
    {
      "parameters": {
        "resource": "customObject",
        "operation": "upsert",
        "customObject": "Engagement_Status_Tracker__c",
        "externalId": "Sequence_Key__c",
        "externalIdValue": "={{ $json.sequenceKey }}",
        "customFieldsUi": {
          "customFieldsValues": [
            {
              "fieldId": "Sequence_Key__c",
              "value": "={{ $json.sequenceKey }}"
            },
            {
              "fieldId": "Related_Opportunity__c",
              "value": "={{ $json.opportunityId }}"
            },
            {
              "fieldId": "Active_Sequence_Step__c",
              "value": "={{ $json.stepKey }}"
            },
            {
              "fieldId": "Last_Sequence_Step_Sent__c",
              "value": "={{ $json.stepKey }}"
            },
            {
              "fieldId": "Next_Follow_Up_Date_Lead__c",
              "value": "={{ null }}"
            },
            {
              "fieldId": "Last_Sequence_Action_At__c",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "SAMPLE_NODE_ID_018",
      "name": "Update Proposal EST Sequence Tracking (Final)",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "Poll Proposal Follow Up 7 Opportunities": {
      "main": [
        [
          {
            "node": "Proposal Follow-Up Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Proposal Follow-Up Config": {
      "main": [
        [
          {
            "node": "Fetch Proposal Follow Up 7 Opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Proposal Follow Up 7 Opportunities": {
      "main": [
        [
          {
            "node": "Fetch Proposal Sequence Tasks - Opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Proposal Sequence Tasks - Opportunities": {
      "main": [
        [
          {
            "node": "Determine Proposal Follow Up 7 Sequence Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Proposal Follow Up 7 Sequence Step": {
      "main": [
        [
          {
            "node": "Call W11 - Adjust Proposal Task Due Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call W11 - Adjust Proposal Task Due Date": {
      "main": [
        [
          {
            "node": "Apply W11 - Confirm Proposal Task Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply W11 - Confirm Proposal Task Due": {
      "main": [
        [
          {
            "node": "Check Existing Proposal Opportunity Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Proposal Opportunity Tasks": {
      "main": [
        [
          {
            "node": "Normalize Proposal Task Existence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Proposal Task Existence": {
      "main": [
        [
          {
            "node": "Proposal Task Already Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Proposal Task Already Exists?": {
      "main": [
        [
          {
            "node": "Skip - Proposal Task Already Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Proposal Follow-Up Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Proposal Follow-Up Task": {
      "main": [
        [
          {
            "node": "Recover Proposal Context After Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recover Proposal Context After Create": {
      "main": [
        [
          {
            "node": "Final Proposal Step?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Proposal Step?": {
      "main": [
        [
          {
            "node": "Update Proposal EST Sequence Tracking (Final)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call W11 - Next Proposal Follow-Up Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call W11 - Next Proposal Follow-Up Date": {
      "main": [
        [
          {
            "node": "Apply W11 - Set Next Proposal Follow-Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply W11 - Set Next Proposal Follow-Up": {
      "main": [
        [
          {
            "node": "Update Proposal EST Sequence Tracking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "nodeGroups": [],
  "tags": []
}
