opportunity-follow-up-21-day-task-sequence.json
{
  "name": "Opportunity Follow-Up 21-Day Task Sequence",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "SAMPLE_NODE_ID_001",
      "name": "Poll Follow Up 21 Opportunities",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2912,
        224
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg1",
              "name": "defaultOwnerId",
              "type": "string",
              "value": "SAMPLE_RECORD_ID"
            }
          ]
        },
        "options": {}
      },
      "id": "SAMPLE_NODE_ID_002",
      "name": "Opportunity Follow-Up Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2688,
        224
      ]
    },
    {
      "parameters": {
        "resource": "search",
        "query": "=SELECT Id, Name, OwnerId, Engagement_Status__c, CreatedDate\nFROM Opportunity\nWHERE Engagement_Status__c = 'Follow Up (21)'\nAND IsClosed = false\nORDER BY LastModifiedDate ASC\nLIMIT 100"
      },
      "id": "SAMPLE_NODE_ID_003",
      "name": "Fetch Follow Up 21 Opportunities",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1.1,
      "position": [
        -2464,
        224
      ]
    },
    {
      "parameters": {
        "resource": "search",
        "query": "={{ (function() {\n  const opportunities = $('Fetch Follow Up 21 Opportunities').all();\n  if (!opportunities.length) return \"SELECT Id, WhatId, Subject, ActivityDate, CreatedDate FROM Task WHERE Id = null LIMIT 1\";\n  const esc = (s) => String(s).replace(/'/g, \"\\\\'\");\n  const subjects = [\n    'Qualified Follow Up - Email #1',\n    'Qualified Follow Up - Call #1',\n    'Qualified Follow Up - Email #2',\n    'Qualified Follow Up - Call #2',\n    'Qualified Follow Up - Proposal Readiness Review',\n    'Qualified Follow Up - Email #3',\n    'Qualified Follow Up - Call #3',\n    'Qualified Follow Up - Schedule Meeting',\n    'Qualified Follow Up - Email #4',\n    'Qualified Follow Up - Call #4',\n    'Qualified Follow Up - Status Review'\n  ];\n  const subjectList = subjects.map((s) => \"'\" + esc(s) + \"'\").join(', ');\n  const opportunityIds = opportunities.map((o) => \"'\" + esc(o.json.Id) + \"'\").join(', ');\n  return \"SELECT Id, WhatId, Subject, ActivityDate, CreatedDate FROM Task WHERE WhatId IN (\" + opportunityIds + \") AND Subject IN (\" + subjectList + \") LIMIT 1000\";\n})() }}"
      },
      "id": "SAMPLE_NODE_ID_004",
      "name": "Fetch Sequence Tasks - Opportunities",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1.1,
      "position": [
        -2240,
        224
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const STEPS = [\n  {\n    key: 'Day_0',\n    offsetDays: 0,\n    subject: 'Qualified Follow Up - Email #1',\n    action: 'Send Follow Up email #1 and review missing proposal inputs.',\n    guidelines: 'Thank the prospect for the conversation, confirm the next step, and list the information still needed to prepare an accurate proposal.'\n  },\n  {\n    key: 'Day_1',\n    offsetDays: 1,\n    subject: 'Qualified Follow Up - Call #1',\n    action: 'Complete follow-up call #1.',\n    guidelines: 'Confirm priorities, the decision process, PMS, estimated units, insurance or program questions if applicable, and the best timing for the next meeting.'\n  },\n  {\n    key: 'Day_3',\n    offsetDays: 3,\n    subject: 'Qualified Follow Up - Email #2',\n    action: 'Send information request or recap email #2.',\n    guidelines: 'Summarize what is still needed, including portfolio details, PMS, timeline, stakeholders, insurance or policy details when relevant, pricing assumptions, and technical questions.'\n  },\n  {\n    key: 'Day_5',\n    offsetDays: 5,\n    subject: 'Qualified Follow Up - Call #2',\n    action: 'Complete follow-up call #2.',\n    guidelines: 'Keep momentum, answer questions, and schedule another meeting if the proposal inputs are incomplete.'\n  },\n  {\n    key: 'Day_7',\n    offsetDays: 7,\n    subject: 'Qualified Follow Up - Proposal Readiness Review',\n    action: 'Complete an internal proposal readiness review.',\n    guidelines: 'Review whether enough information exists to create the proposal. If not, document the blockers and the next information needed.'\n  },\n  {\n    key: 'Day_10',\n    offsetDays: 10,\n    subject: 'Qualified Follow Up - Email #3',\n    action: 'Send follow-up email #3 with the specific missing items or a next-meeting call to action.',\n    guidelines: 'Keep the email concise and practical. Ask for the missing details or propose a short meeting with Example User or Io to resolve open questions.'\n  },\n  {\n    key: 'Day_12',\n    offsetDays: 12,\n    subject: 'Qualified Follow Up - Call #3',\n    action: 'Complete follow-up call #3.',\n    guidelines: 'Resolve open items, confirm whether insurance or program review is still pending, and confirm who else needs to be involved.'\n  },\n  {\n    key: 'Day_14',\n    offsetDays: 14,\n    subject: 'Qualified Follow Up - Schedule Meeting',\n    action: 'Schedule or confirm a follow-up meeting if proposal inputs are still incomplete.',\n    guidelines: 'Use this task when there are multiple open details, insurance policy or program reviews, technical questions, or stakeholder alignment still needed.'\n  },\n  {\n    key: 'Day_16',\n    offsetDays: 16,\n    subject: 'Qualified Follow Up - Email #4',\n    action: 'Send follow-up email #4 and complete the proposal readiness check.',\n    guidelines: 'Ask whether the prospect is ready for proposal creation or what still needs to be reviewed before moving forward.'\n  },\n  {\n    key: 'Day_18',\n    offsetDays: 18,\n    subject: 'Qualified Follow Up - Call #4',\n    action: 'Complete follow-up call #4.',\n    guidelines: 'Make the final call attempt within the 21-day cycle to confirm proposal readiness, the next meeting, or the remaining blockers.'\n  },\n  {\n    key: 'Day_21',\n    offsetDays: 21,\n    subject: 'Qualified Follow Up - Status Review',\n    action: 'Review the Opportunity status and choose the next step.',\n    guidelines: 'Move the Opportunity to Proposal if the proposal has been sent. Restart another 21-day Follow Up Sequence if active review continues, set a dated Next Follow-Up Date, or move the Opportunity to Closed Lost if no viable path remains.'\n  }\n];\n\nconst DAY0_SUBJECT = 'Qualified Follow Up - Email #1';\nconst tz = 'America/Los_Angeles';\nconst todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\n\nfunction addDays(dateStr, days) {\n  const [y, m, d] = dateStr.split('-').map(Number);\n  const dt = new Date(Date.UTC(y, m - 1, d + days));\n  return dt.toISOString().slice(0, 10);\n}\n\nfunction toW11DateTime(dateStr) {\n  const [y, m, d] = dateStr.split('-').map(Number);\n  return new Date(Date.UTC(y, m - 1, d, 20, 0, 0)).toISOString();\n}\n\nfunction buildStepResult(opportunity, step, anchorDate) {\n  const opportunityId = String(opportunity.Id || '');\n  const stepIndex = STEPS.findIndex((s) => s.key === step.key);\n  const isFinalStep = step.key === 'Day_21';\n  const effectiveAnchor = anchorDate || todayStr;\n  const isDay0Bootstrap = step.offsetDays === 0 && !anchorDate;\n  const rawDueDateStr = isDay0Bootstrap ? todayStr : addDays(effectiveAnchor, step.offsetDays);\n  const needsW11Gate = !isDay0Bootstrap;\n  let nextFollowUpRawDateStr = '';\n  if (!isFinalStep) {\n    const nextStep = STEPS[stepIndex + 1];\n    if (nextStep) {\n      nextFollowUpRawDateStr = addDays(effectiveAnchor, nextStep.offsetDays);\n    }\n  }\n  return {\n    json: {\n      opportunityId,\n      sequenceKey: opportunityId + '_FollowUp21',\n      opportunityName: String(opportunity.Name || ''),\n      opportunityOwnerId: String(opportunity.OwnerId || ''),\n      anchorDate: effectiveAnchor,\n      stepKey: step.key,\n      stepIndex,\n      taskSubject: step.subject,\n      taskAction: step.action,\n      taskGuidelines: step.guidelines,\n      isFinalStep,\n      needsW11Gate,\n      rawDueDateStr,\n      w11DueDateTime: toW11DateTime(rawDueDateStr),\n      nextFollowUpRawDateStr,\n      w11NextDateTime: nextFollowUpRawDateStr ? toW11DateTime(nextFollowUpRawDateStr) : '',\n      w11Timezone: tz,\n      todayStr\n    }\n  };\n}\n\nconst tasksByOpportunity = {};\nconst day0AnchorByOpportunity = {};\n\nfor (const t of $('Fetch Sequence Tasks - Opportunities').all()) {\n  const what = String(t.json.WhatId || '');\n  const subj = String(t.json.Subject || '');\n  if (!what || !subj) continue;\n  if (!tasksByOpportunity[what]) tasksByOpportunity[what] = new Set();\n  tasksByOpportunity[what].add(subj);\n\n  if (subj === DAY0_SUBJECT) {\n    const activityDate = String(t.json.ActivityDate || '').slice(0, 10);\n    const createdDate = String(t.json.CreatedDate || '').slice(0, 10);\n    const anchor = activityDate || createdDate;\n    if (anchor && (!day0AnchorByOpportunity[what] || anchor < day0AnchorByOpportunity[what])) {\n      day0AnchorByOpportunity[what] = anchor;\n    }\n  }\n}\n\nconst results = [];\n\nfor (const item of $('Fetch Follow Up 21 Opportunities').all()) {\n  const opportunity = item.json;\n  const opportunityId = String(opportunity.Id || '');\n  if (!opportunityId) continue;\n\n  // Only Opportunities whose Engagement Status picklist is currently\n  // \"Follow Up (21)\" remain eligible for this sequence.\n  // Closed Opportunities are excluded by the SOQL filter.\n  const existingSubjects = tasksByOpportunity[opportunityId] || new Set();\n  const anchorDate = day0AnchorByOpportunity[opportunityId] || null;\n  const stepsToCreate = [];\n\n  if (!anchorDate) {\n    if (!existingSubjects.has(DAY0_SUBJECT)) {\n      stepsToCreate.push(STEPS[0]);\n    }\n  } else {\n    for (let i = 1; i < STEPS.length; i++) {\n      const step = STEPS[i];\n      if (existingSubjects.has(step.subject)) continue;\n      stepsToCreate.push(step);\n      break;\n    }\n  }\n\n  for (const step of stepsToCreate) {\n    results.push(buildStepResult(opportunity, step, anchorDate));\n  }\n}\n\nreturn results;"
      },
      "id": "SAMPLE_NODE_ID_005",
      "name": "Determine Follow Up 21 Sequence Step",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2016,
        224
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_WORKFLOW_ID"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "dateTime": "={{ $json.w11DueDateTime }}",
            "timezone": "={{ $json.w11Timezone }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "dateTime",
              "displayName": "dateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "SAMPLE_NODE_ID_006",
      "name": "Call W11 - Adjust Task Due Date",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1792,
        224
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const preItems = $('Determine Follow Up 21 Sequence Step').all();\nconst results = [];\n\nfor (const w11Item of $input.all()) {\n  const pi = w11Item.pairedItem?.item;\n  if (pi === undefined || pi === null) continue;\n\n  const ctx = preItems[pi]?.json;\n  if (!ctx || !ctx.opportunityId) continue;\n\n  if (ctx.needsW11Gate !== true) {\n    results.push({ json: { ...ctx, adjustedDueDateStr: ctx.rawDueDateStr } });\n    continue;\n  }\n\n  const w11 = w11Item.json || {};\n  let adjustedDueDateStr = null;\n  if (w11.isBusinessDay === true) {\n    adjustedDueDateStr = String(w11.localDate || w11.nextBusinessDay || '').substring(0, 10);\n  } else {\n    adjustedDueDateStr = String(w11.nextBusinessDay || '').substring(0, 10);\n  }\n  if (!adjustedDueDateStr || adjustedDueDateStr.length < 8) continue;\n  if (adjustedDueDateStr > ctx.todayStr) continue;\n\n  results.push({ json: { ...ctx, adjustedDueDateStr } });\n}\n\nreturn results;"
      },
      "id": "SAMPLE_NODE_ID_007",
      "name": "Apply W11 - Confirm Task Due",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        224
      ]
    },
    {
      "parameters": {
        "resource": "search",
        "query": "={{ (function() {\n  const items = $('Apply W11 - Confirm Task Due').all();\n  if (!items.length) return \"SELECT Id, WhatId, Subject FROM Task WHERE Id = null LIMIT 1\";\n  const esc = (s) => String(s).replace(/'/g, \"\\\\'\");\n  const conditions = items.map((i) => \"(WhatId = '\" + esc(i.json.opportunityId) + \"' AND Subject = '\" + esc(i.json.taskSubject) + \"')\").join(' OR ');\n  return \"SELECT Id, WhatId, Subject FROM Task WHERE \" + conditions + \" LIMIT \" + (items.length + 10);\n})() }}"
      },
      "id": "SAMPLE_NODE_ID_008",
      "name": "Check Existing Opportunity Tasks",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1.1,
      "position": [
        -1344,
        224
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const existing = new Set();\nfor (const t of $('Check Existing Opportunity Tasks').all()) {\n  const what = String(t.json.WhatId || '');\n  const subj = String(t.json.Subject || '');\n  if (!what || !subj) continue;\n  existing.add(what + '|' + subj);\n}\n\nconst results = [];\nfor (const item of $('Apply W11 - Confirm Task Due').all()) {\n  const d = item.json;\n  const key = d.opportunityId + '|' + d.taskSubject;\n  results.push({ json: { ...d, taskExists: existing.has(key) } });\n}\nreturn results;"
      },
      "id": "SAMPLE_NODE_ID_009",
      "name": "Normalize Opportunity Task Existence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.taskExists }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "SAMPLE_NODE_ID_010",
      "name": "Opportunity Task Already Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -896,
        224
      ]
    },
    {
      "parameters": {},
      "id": "SAMPLE_NODE_ID_011",
      "name": "Skip - Task Already Exists",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -672,
        352
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "status": "Not Started",
        "additionalFields": {
          "activityDate": "={{ $json.adjustedDueDateStr }}",
          "description": "={{ 'Action: ' + $json.taskAction + '\\n\\nGuidelines: ' + $json.taskGuidelines + '\\n\\nOpportunity: ' + $json.opportunityName + '\\nSequence Step: ' + $json.stepKey + '\\nWorkflow: W14O - Opportunity 21-Day Follow Up Task Sequence' }}",
          "owner": "={{ $json.opportunityOwnerId || $('Opportunity Follow-Up Config').first().json.defaultOwnerId }}",
          "priority": "Normal",
          "subject": "={{ $json.taskSubject }}",
          "whatId": "={{ $json.opportunityId }}"
        }
      },
      "id": "SAMPLE_NODE_ID_012",
      "name": "Create Opportunity Follow-Up Task",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1.1,
      "position": [
        -672,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const normalizeItems = $('Normalize Opportunity Task Existence').all();\nconst results = [];\nfor (const item of $input.all()) {\n  const pi = item.pairedItem?.item;\n  if (pi === undefined || pi === null) continue;\n  const ctx = normalizeItems[pi]?.json;\n  if (!ctx || !ctx.opportunityId || ctx.taskExists === true) continue;\n  results.push({ json: { ...ctx } });\n}\nreturn results;"
      },
      "id": "SAMPLE_NODE_ID_013",
      "name": "Recover Opportunity Context After Create",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isFinalStep }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "SAMPLE_NODE_ID_014",
      "name": "Final Opportunity Step?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        96
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_WORKFLOW_ID"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "dateTime": "={{ $json.w11NextDateTime }}",
            "timezone": "={{ $json.w11Timezone }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "dateTime",
              "displayName": "dateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "SAMPLE_NODE_ID_015",
      "name": "Call W11 — Next Opportunity Follow-Up Date",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        0,
        192
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const preItems = $('Recover Opportunity Context After Create').all();\nconst results = [];\n\nfor (const w11Item of $input.all()) {\n  const pi = w11Item.pairedItem?.item;\n  if (pi === undefined || pi === null) continue;\n\n  const ctx = preItems[pi]?.json;\n  if (!ctx || !ctx.opportunityId) continue;\n\n  const w11 = w11Item.json || {};\n  let nextDueDateStr = null;\n  if (w11.isBusinessDay === true) {\n    nextDueDateStr = String(w11.localDate || w11.nextBusinessDay || '').substring(0, 10);\n  } else {\n    nextDueDateStr = String(w11.nextBusinessDay || '').substring(0, 10);\n  }\n  if (!nextDueDateStr || nextDueDateStr.length < 8) {\n    results.push({ json: { ...ctx, nextDueDateStr: ctx.nextFollowUpRawDateStr } });\n    continue;\n  }\n\n  results.push({ json: { ...ctx, nextDueDateStr } });\n}\n\nreturn results;"
      },
      "id": "SAMPLE_NODE_ID_016",
      "name": "Apply W11 — Set Next Opportunity Follow-Up",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        192
      ]
    },
    {
      "parameters": {
        "resource": "customObject",
        "operation": "upsert",
        "customObject": "Engagement_Status_Tracker__c",
        "externalId": "Sequence_Key__c",
        "externalIdValue": "={{ $json.sequenceKey }}",
        "customFieldsUi": {
          "customFieldsValues": [
            {
              "fieldId": "Sequence_Key__c",
              "value": "={{ $json.sequenceKey }}"
            },
            {
              "fieldId": "Related_Opportunity__c",
              "value": "={{ $json.opportunityId }}"
            },
            {
              "fieldId": "Active_Sequence_Step__c",
              "value": "={{ $json.stepKey }}"
            },
            {
              "fieldId": "Last_Sequence_Step_Sent__c",
              "value": "={{ $json.stepKey }}"
            },
            {
              "fieldId": "Next_Follow_Up_Date_Lead__c",
              "value": "={{ $json.nextDueDateStr }}"
            },
            {
              "fieldId": "Last_Sequence_Action_At__c",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "SAMPLE_NODE_ID_017",
      "name": "Update Opportunity EST Sequence Tracking",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1.1,
      "position": [
        448,
        192
      ]
    },
    {
      "parameters": {
        "resource": "customObject",
        "operation": "upsert",
        "customObject": "Engagement_Status_Tracker__c",
        "externalId": "Sequence_Key__c",
        "externalIdValue": "={{ $json.sequenceKey }}",
        "customFieldsUi": {
          "customFieldsValues": [
            {
              "fieldId": "Sequence_Key__c",
              "value": "={{ $json.sequenceKey }}"
            },
            {
              "fieldId": "Related_Opportunity__c",
              "value": "={{ $json.opportunityId }}"
            },
            {
              "fieldId": "Active_Sequence_Step__c",
              "value": "={{ $json.stepKey }}"
            },
            {
              "fieldId": "Last_Sequence_Step_Sent__c",
              "value": "={{ $json.stepKey }}"
            },
            {
              "fieldId": "Next_Follow_Up_Date_Lead__c",
              "value": "={{ null }}"
            },
            {
              "fieldId": "Last_Sequence_Action_At__c",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "SAMPLE_NODE_ID_018",
      "name": "Update Opportunity EST Sequence Tracking (Final)",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "Poll Follow Up 21 Opportunities": {
      "main": [
        [
          {
            "node": "Opportunity Follow-Up Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opportunity Follow-Up Config": {
      "main": [
        [
          {
            "node": "Fetch Follow Up 21 Opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Follow Up 21 Opportunities": {
      "main": [
        [
          {
            "node": "Fetch Sequence Tasks - Opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sequence Tasks - Opportunities": {
      "main": [
        [
          {
            "node": "Determine Follow Up 21 Sequence Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Follow Up 21 Sequence Step": {
      "main": [
        [
          {
            "node": "Call W11 - Adjust Task Due Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call W11 - Adjust Task Due Date": {
      "main": [
        [
          {
            "node": "Apply W11 - Confirm Task Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply W11 - Confirm Task Due": {
      "main": [
        [
          {
            "node": "Check Existing Opportunity Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Opportunity Tasks": {
      "main": [
        [
          {
            "node": "Normalize Opportunity Task Existence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Opportunity Task Existence": {
      "main": [
        [
          {
            "node": "Opportunity Task Already Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opportunity Task Already Exists?": {
      "main": [
        [
          {
            "node": "Skip - Task Already Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opportunity Follow-Up Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opportunity Follow-Up Task": {
      "main": [
        [
          {
            "node": "Recover Opportunity Context After Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recover Opportunity Context After Create": {
      "main": [
        [
          {
            "node": "Final Opportunity Step?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Opportunity Step?": {
      "main": [
        [
          {
            "node": "Update Opportunity EST Sequence Tracking (Final)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call W11 — Next Opportunity Follow-Up Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call W11 — Next Opportunity Follow-Up Date": {
      "main": [
        [
          {
            "node": "Apply W11 — Set Next Opportunity Follow-Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply W11 — Set Next Opportunity Follow-Up": {
      "main": [
        [
          {
            "node": "Update Opportunity EST Sequence Tracking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "nodeGroups": [],
  "tags": []
}
