requested-follow-up-weekly-task.json
{
  "name": "Requested Follow-Up Weekly Task",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "SAMPLE_NODE_ID_001",
      "name": "Every Monday at 9 AM Pacific",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        448
      ],
      "notesInFlow": true,
      "notes": "Runs at 9:00 AM every Monday. The workflow timezone is America/Los_Angeles so daylight saving time is handled automatically."
    },
    {
      "parameters": {
        "resource": "search",
        "query": "SELECT Id, Name, OwnerId, Status, Engagement_Status__c, IsConverted, IsDeleted, Human_Override__c FROM Lead WHERE Engagement_Status__c = 'Requested Follow Up' AND IsConverted = false AND IsDeleted = false AND Status NOT IN ('Unqualified', 'Closed', 'Disqualified') AND (Human_Override__c = false OR Human_Override__c = null)"
      },
      "id": "SAMPLE_NODE_ID_002",
      "name": "Fetch Requested Follow Up Leads",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1.1,
      "position": [
        240,
        448
      ],
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "Fetches only active, non-converted Leads currently in Requested Follow Up. Query errors stop the workflow, preventing task creation from incomplete data."
    },
    {
      "parameters": {
        "resource": "search",
        "query": "={{ (function() {\n  const leads = $('Fetch Requested Follow Up Leads').all().filter((item) => item.json && item.json.Id);\n  if (!leads.length) {\n    return \"SELECT Id, WhoId, Subject, Status, ActivityDate, CreatedDate, Description, OwnerId FROM Task WHERE Id = null LIMIT 1\";\n  }\n  const esc = (value) => String(value).replace(/'/g, \"\\\\'\");\n  const leadIds = [...new Set(leads.map((item) => String(item.json.Id)))];\n  const idList = leadIds.map((id) => \"'\" + esc(id) + \"'\").join(', ');\n  return \"SELECT Id, WhoId, Subject, Status, ActivityDate, CreatedDate, Description, OwnerId FROM Task WHERE WhoId IN (\" + idList + \") AND Subject = 'Remember to Email/Call this lead'\";\n})() }}"
      },
      "id": "SAMPLE_NODE_ID_003",
      "name": "Fetch Weekly Reminder Tasks",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1.1,
      "position": [
        496,
        448
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "Runs one batch Task query for all eligible Lead IDs. The no-Leads fallback deliberately returns zero records. Query errors stop the workflow so reminders are not created without a reliable duplicate/completion check."
    },
    {
      "parameters": {
        "jsCode": "const TIME_ZONE = 'America/Los_Angeles';\nconst SUBJECT = 'Remember to Email/Call this lead';\nconst WORKFLOW_NAME = 'W15 - Requested Follow Up Weekly Task';\nconst WORKFLOW_MARKER = `Workflow: ${WORKFLOW_NAME}`;\n\nfunction currentMondayInTimeZone(date, timeZone) {\n  const parts = new Intl.DateTimeFormat('en-US', {\n    timeZone,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    weekday: 'short',\n  }).formatToParts(date);\n  const values = Object.fromEntries(parts.map((part) => [part.type, part.value]));\n  const weekdayNumber = {\n    Mon: 1,\n    Tue: 2,\n    Wed: 3,\n    Thu: 4,\n    Fri: 5,\n    Sat: 6,\n    Sun: 7,\n  }[values.weekday];\n  const mondayUtc = new Date(Date.UTC(\n    Number(values.year),\n    Number(values.month) - 1,\n    Number(values.day) - (weekdayNumber - 1),\n  ));\n  return mondayUtc.toISOString().slice(0, 10);\n}\n\nconst mondayDate = currentMondayInTimeZone(new Date(), TIME_ZONE);\nconst tasksByLead = new Map();\n\nfor (const item of $('Fetch Weekly Reminder Tasks').all()) {\n  const task = item.json || {};\n  const leadId = String(task.WhoId || '');\n  const description = String(task.Description || '');\n  if (!leadId || task.Subject !== SUBJECT || !description.includes(WORKFLOW_MARKER)) continue;\n  if (!tasksByLead.has(leadId)) tasksByLead.set(leadId, []);\n  tasksByLead.get(leadId).push(task);\n}\n\nconst results = [];\nfor (const item of $('Fetch Requested Follow Up Leads').all()) {\n  const lead = item.json || {};\n  const leadId = String(lead.Id || '');\n  if (!leadId) continue;\n\n  const leadTasks = tasksByLead.get(leadId) || [];\n  const hasCompletedTask = leadTasks.some((task) => String(task.Status || '') === 'Completed');\n  const hasCurrentMondayTask = leadTasks.some(\n    (task) => String(task.ActivityDate || '').slice(0, 10) === mondayDate,\n  );\n  const leadOwnerId = String(lead.OwnerId || '').trim();\n\n  let decision = 'create';\n  if (!leadOwnerId) decision = 'missingOwner';\n  else if (hasCompletedTask) decision = 'completed';\n  else if (hasCurrentMondayTask) decision = 'currentMonday';\n\n  results.push({\n    json: {\n      leadId,\n      leadName: String(lead.Name || ''),\n      leadOwnerId,\n      engagementStatus: String(lead.Engagement_Status__c || ''),\n      mondayDate,\n      hasCompletedTask,\n      hasCurrentMondayTask,\n      decision,\n      taskSubject: SUBJECT,\n      taskDescription: `Weekly reminder to email or call this lead.\\n\\nLead: ${String(lead.Name || '')}\\nEngagement Status: Requested Follow Up\\nWorkflow: ${WORKFLOW_NAME}`,\n    },\n  });\n}\n\nreturn results;"
      },
      "id": "SAMPLE_NODE_ID_004",
      "name": "Determine Eligible Task Reminders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        448
      ],
      "notesInFlow": true,
      "notes": "Groups all matching historical tasks by Lead, calculates hasCompletedTask and hasCurrentMondayTask, and emits one decision per eligible Lead. Only tasks carrying the W15 workflow marker in Description count."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e3af3e57-df77-4f64-82c3-d9ad38c5a7fb",
              "leftValue": "={{ $json.decision }}",
              "rightValue": "missingOwner",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "SAMPLE_NODE_ID_005",
      "name": "Missing Lead Owner?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        448
      ]
    },
    {
      "parameters": {},
      "id": "SAMPLE_NODE_ID_006",
      "name": "Skip — Missing Lead Owner",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1264,
        288
      ],
      "notesInFlow": true,
      "notes": "Safe skip: no fallback owner is used. The input item records the Lead ID and missingOwner decision for execution review."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "634a4880-ef4b-4d14-8bdb-6ba19ec47d3b",
              "leftValue": "={{ $json.decision }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "SAMPLE_NODE_ID_007",
      "name": "Completed Reminder Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1264,
        512
      ]
    },
    {
      "parameters": {},
      "id": "SAMPLE_NODE_ID_008",
      "name": "Skip — Completed Reminder Found",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1520,
        384
      ],
      "notesInFlow": true,
      "notes": "A completed W15 reminder permanently stops future reminders for this Lead under the simplified tracking rule."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f2778f50-b587-419b-89d6-53541fd0bcd2",
              "leftValue": "={{ $json.decision }}",
              "rightValue": "currentMonday",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "SAMPLE_NODE_ID_009",
      "name": "Task Already Created This Monday?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1520,
        608
      ]
    },
    {
      "parameters": {},
      "id": "SAMPLE_NODE_ID_010",
      "name": "Skip — Task Already Created This Monday",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1776,
        496
      ],
      "notesInFlow": true,
      "notes": "Prevents duplicate W15 tasks when the workflow is retried or manually run again during the same Pacific-time week."
    },
    {
      "parameters": {
        "resource": "task",
        "status": "Not Started",
        "additionalFields": {
          "activityDate": "={{ $json.mondayDate }}",
          "description": "={{ $json.taskDescription }}",
          "owner": "={{ $json.leadOwnerId }}",
          "priority": "Normal",
          "subject": "Remember to Email/Call this lead",
          "whoId": "={{ $json.leadId }}"
        }
      },
      "id": "SAMPLE_NODE_ID_011",
      "name": "Create Weekly Follow Up Task",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1.1,
      "position": [
        1776,
        720
      ],
      "notesInFlow": true,
      "notes": "Creates one Not Started, Normal-priority Task due on the current Monday and assigns it to the current Lead Owner. Create errors stop the workflow and remain visible in the execution."
    },
    {
      "parameters": {
        "content": "## Cycle-reset limitation\n\nThis simplified W15 intentionally does not write to `Engagement_Status_Tracker__c`. The W14 example proves several tracker fields exist, but it does not provide a reliable field that identifies a new Requested Follow Up cycle or stores a stopped/completed state.\n\nTherefore, any W15 Task with the exact subject, the W15 workflow marker in Description, and `Status = 'Completed'` permanently stops future W15 Tasks for that Lead—even if the Lead later leaves and re-enters Requested Follow Up.\n\nA true reset requires a confirmed Salesforce cycle identifier or status-transition timestamp.",
        "height": 336,
        "width": 448,
        "color": 5
      },
      "id": "SAMPLE_NODE_ID_012",
      "name": "Cycle Reset Limitation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "Every Monday at 9 AM Pacific": {
      "main": [
        [
          {
            "node": "Fetch Requested Follow Up Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Requested Follow Up Leads": {
      "main": [
        [
          {
            "node": "Fetch Weekly Reminder Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Weekly Reminder Tasks": {
      "main": [
        [
          {
            "node": "Determine Eligible Task Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Eligible Task Reminders": {
      "main": [
        [
          {
            "node": "Missing Lead Owner?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Missing Lead Owner?": {
      "main": [
        [
          {
            "node": "Skip — Missing Lead Owner",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Completed Reminder Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completed Reminder Found?": {
      "main": [
        [
          {
            "node": "Skip — Completed Reminder Found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Task Already Created This Monday?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Already Created This Monday?": {
      "main": [
        [
          {
            "node": "Skip — Task Already Created This Monday",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Weekly Follow Up Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "nodeGroups": [],
  "tags": []
}
