us-holiday-check-utility.json
{
  "name": "US Business Day and Holiday Utility",
  "nodes": [
    {
      "parameters": {},
      "id": "SAMPLE_NODE_ID_001",
      "name": "Run Business-Day Utility Manually",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.error }}",
              "operator": {
                "type": "boolean",
                "operation": "false"
              },
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "SAMPLE_NODE_ID_002",
      "name": "Input Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "\nfunction pad(n) { return String(n).padStart(2, '0'); }\n\nfunction getLocalParts(dateTimeStr, timezone) {\n  const dt = new Date(dateTimeStr);\n  const f = new Intl.DateTimeFormat('en-US', {\n    timeZone: timezone, year: 'numeric', month: '2-digit', day: '2-digit', weekday: 'long'\n  });\n  const parts = f.formatToParts(dt);\n  const p = {};\n  parts.forEach(x => { p[x.type] = x.value; });\n  return {\n    year: parseInt(p.year), month: parseInt(p.month), day: parseInt(p.day),\n    localDate: p.year + '-' + p.month + '-' + p.day, dayOfWeek: p.weekday\n  };\n}\n\nfunction observedDate(year, month, day) {\n  const dow = new Date(year, month - 1, day).getDay();\n  if (dow === 6) { const f = new Date(year, month - 1, day - 1); return { year: f.getFullYear(), month: f.getMonth() + 1, day: f.getDate() }; }\n  if (dow === 0) { const f = new Date(year, month - 1, day + 1); return { year: f.getFullYear(), month: f.getMonth() + 1, day: f.getDate() }; }\n  return null;\n}\n\nfunction toKey(o) { return o.year + '-' + pad(o.month) + '-' + pad(o.day); }\n\nfunction nthWeekday(year, month, weekday, n) {\n  let count = 0;\n  for (let d = 1; d <= 31; d++) {\n    const dt = new Date(year, month - 1, d);\n    if (dt.getMonth() !== month - 1) break;\n    if (dt.getDay() === weekday && ++count === n) return { year, month, day: d };\n  }\n}\n\nfunction lastWeekday(year, month, weekday) {\n  let result = null;\n  for (let d = 1; d <= 31; d++) {\n    const dt = new Date(year, month - 1, d);\n    if (dt.getMonth() !== month - 1) break;\n    if (dt.getDay() === weekday) result = { year, month, day: d };\n  }\n  return result;\n}\n\nfunction buildHolidayMap(year) {\n  const h = {};\n  function addFixed(month, day, name) {\n    const actual = { year, month, day };\n    h[toKey(actual)] = name;\n    const obs = observedDate(year, month, day);\n    if (obs) h[toKey(obs)] = name + ' (observed)';\n  }\n  function addFloat(o, name) { if (o) h[toKey(o)] = name; }\n  addFixed(1, 1, \"New Year's Day\");\n  addFixed(6, 19, \"Juneteenth\");\n  addFixed(7, 4, \"Independence Day\");\n  addFixed(11, 11, \"Veterans Day\");\n  addFixed(12, 25, \"Christmas Day\");\n  addFloat(nthWeekday(year, 1, 1, 3), \"MLK Day\");\n  addFloat(nthWeekday(year, 2, 1, 3), \"Presidents Day\");\n  addFloat(lastWeekday(year, 5, 1), \"Memorial Day\");\n  addFloat(nthWeekday(year, 9, 1, 1), \"Labor Day\");\n  addFloat(nthWeekday(year, 10, 1, 2), \"Columbus Day\");\n  addFloat(nthWeekday(year, 11, 4, 4), \"Thanksgiving\");\n  if (new Date(year + 1, 0, 1).getDay() === 6) {\n    const k = year + '-12-31';\n    if (!h[k]) h[k] = \"New Year's Day (observed, next year)\";\n  }\n  return h;\n}\n\n// UNCHANGED: nextBusinessDay — start from day+1 and go forward\nfunction nextBusinessDay(year, month, day) {\n  let d = new Date(Date.UTC(year, month - 1, day + 1));\n  for (let i = 0; i < 14; i++) {\n    const y = d.getUTCFullYear(), m = d.getUTCMonth() + 1, dd = d.getUTCDate();\n    const key = y + '-' + pad(m) + '-' + pad(dd);\n    const hmap = { ...buildHolidayMap(y - 1), ...buildHolidayMap(y), ...buildHolidayMap(y + 1) };\n    if (d.getUTCDay() !== 0 && d.getUTCDay() !== 6 && !hmap[key]) return key;\n    d.setUTCDate(d.getUTCDate() + 1);\n  }\n  return 'unknown';\n}\n\n// NEW: previousBusinessDay — start from day-1 and go backward\n// Used for 24h meeting reminders: if reminder falls on weekend/holiday,\n// move to the previous business day so the reminder is not missed.\nfunction previousBusinessDay(year, month, day) {\n  let d = new Date(Date.UTC(year, month - 1, day - 1));\n  for (let i = 0; i < 14; i++) {\n    const y = d.getUTCFullYear(), m = d.getUTCMonth() + 1, dd = d.getUTCDate();\n    const key = y + '-' + pad(m) + '-' + pad(dd);\n    const hmap = { ...buildHolidayMap(y - 1), ...buildHolidayMap(y), ...buildHolidayMap(y + 1) };\n    if (d.getUTCDay() !== 0 && d.getUTCDay() !== 6 && !hmap[key]) return key;\n    d.setUTCDate(d.getUTCDate() - 1);\n  }\n  return 'unknown';\n}\n\nconst input = $input.first().json;\nconst { mode, testCases, tzWarning, dtWarning } = input;\nconst results = [];\n\nfor (const tc of testCases) {\n  const { label, dateTime, timezone } = tc;\n  const { year, month, day, localDate, dayOfWeek } = getLocalParts(dateTime, timezone);\n  const hmap = { ...buildHolidayMap(year - 1), ...buildHolidayMap(year), ...buildHolidayMap(year + 1) };\n  const isWeekend = dayOfWeek === 'Saturday' || dayOfWeek === 'Sunday';\n  const holidayName = hmap[localDate] || null;\n  const isHoliday = !!holidayName;\n  const isBusinessDay = !isWeekend && !isHoliday;\n  let reason;\n  if (isHoliday && isWeekend) reason = 'US federal holiday (falls on weekend)';\n  else if (isHoliday) reason = 'US federal holiday: ' + holidayName;\n  else if (isWeekend) reason = 'Weekend';\n  else reason = 'Normal business day';\n  // UNCHANGED: nextBusinessDay — same as before\n  const nbd = isBusinessDay ? localDate : nextBusinessDay(year, month, day);\n  // NEW: previousBusinessDay — goes backward to nearest business day\n  const pbd = isBusinessDay ? localDate : previousBusinessDay(year, month, day);\n  const out = { mode, timezoneUsed: timezone, localDate, dayOfWeek, isWeekend, isHoliday, holidayName: holidayName || 'none', isBusinessDay, nextBusinessDay: nbd, previousBusinessDay: pbd, reason };\n  if (mode === 'manual') out.label = label;\n  if (tzWarning) out.tzWarning = tzWarning;\n  if (dtWarning) out.dtWarning = dtWarning;\n  results.push({ json: out });\n}\n\nreturn results;\n"
      },
      "id": "SAMPLE_NODE_ID_003",
      "name": "Evaluate Holiday + Business Day",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "error",
              "type": "boolean",
              "value": true
            },
            {
              "id": "e2",
              "name": "errorMessage",
              "type": "string",
              "value": "={{ $json.errorMessage }}"
            }
          ]
        },
        "options": {}
      },
      "id": "SAMPLE_NODE_ID_004",
      "name": "Return Input Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        192
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "dateTime"
            },
            {
              "name": "timezone"
            }
          ]
        }
      },
      "id": "SAMPLE_NODE_ID_005",
      "name": "When Called by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "// Called mode only — fires from Execute Sub-workflow Trigger.\n// Errors if dateTime is missing.\n// Warns if dateTime has no timezone offset or Z suffix.\n// Warns if timezone is missing (defaults to America/New_York).\n// Errors if timezone is unsupported.\n\nconst SUPPORTED_TIMEZONES = [\n  'America/New_York','America/Chicago','America/Denver','America/Los_Angeles'\n];\n\nconst item = $input.first().json;\nconst rawDateTime = (item.dateTime || '').toString().trim();\nconst rawTimezone = (item.timezone || '').toString().trim();\n\n// Error: dateTime missing\nif (!rawDateTime) {\n  return [{ json: {\n    mode: 'called',\n    error: true,\n    errorMessage: 'dateTime is required when calling W11 from another workflow. Pass an ISO string with timezone offset, e.g. 2026-07-04T09:00:00-04:00 or 2026-07-04T13:00:00Z'\n  }}];\n}\n\n// Warning: dateTime has no offset or Z\nconst hasOffset = /Z$|[+-]\\d{2}:\\d{2}$/.test(rawDateTime);\nconst dtWarning = hasOffset\n  ? null\n  : 'dateTime has no timezone offset or Z suffix — result may be ambiguous. Recommended format: 2026-07-04T09:00:00-04:00 or 2026-07-04T13:00:00Z';\n\n// Timezone handling\nlet timezone = rawTimezone || 'America/New_York';\nconst tzWarning = rawTimezone\n  ? null\n  : 'timezone not provided — defaulted to America/New_York';\n\n// Error: unsupported timezone\nif (!SUPPORTED_TIMEZONES.includes(timezone)) {\n  return [{ json: {\n    mode: 'called',\n    error: true,\n    errorMessage: 'Unsupported timezone: ' + timezone + '. Supported: ' + SUPPORTED_TIMEZONES.join(', ')\n  }}];\n}\n\nreturn [{ json: {\n  mode: 'called',\n  error: false,\n  tzWarning: tzWarning || null,\n  dtWarning: dtWarning || null,\n  testCases: [{ label: 'Called input', dateTime: rawDateTime, timezone }]\n}}];\n"
      },
      "id": "SAMPLE_NODE_ID_006",
      "name": "Prepare Called Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "// Manual mode only — fires from Run Business-Day Utility Manually trigger.\n// Always returns 12 hardcoded 2026+2027 test cases.\n// Ignores any input.\n\nreturn [{ json: {\n  mode: 'manual',\n  error: false,\n  tzWarning: null,\n  dtWarning: null,\n  testCases: [\n    { label: '2026-TC1: July 4 2026 (Sat) — New York',              dateTime: '2026-07-04T12:00:00', timezone: 'America/New_York'   },\n    { label: '2026-TC2: July 4 2026 (Sat) — Los Angeles',           dateTime: '2026-07-04T12:00:00', timezone: 'America/Los_Angeles' },\n    { label: '2026-TC3: Christmas 2026 (Fri) — Chicago',            dateTime: '2026-12-25T12:00:00', timezone: 'America/Chicago'    },\n    { label: '2026-TC4: Normal Tuesday Jul 7 2026 — Denver',        dateTime: '2026-07-07T12:00:00', timezone: 'America/Denver'     },\n    { label: '2026-TC5: Saturday Jul 11 2026 — New York',           dateTime: '2026-07-11T12:00:00', timezone: 'America/New_York'   },\n    { label: '2026-TC6: Sunday Jul 12 2026 — Los Angeles',          dateTime: '2026-07-12T12:00:00', timezone: 'America/Los_Angeles' },\n    { label: \"2027-TC7: New Year's Day Jan 1 2027 (Fri) — New York\",dateTime: '2027-01-01T12:00:00', timezone: 'America/New_York'   },\n    { label: '2027-TC8: Jul 5 2027 (observed Mon for Jul 4) — Chicago', dateTime: '2027-07-05T12:00:00', timezone: 'America/Chicago' },\n    { label: '2027-TC9: Dec 24 2027 (observed Fri for Dec 25) — Denver', dateTime: '2027-12-24T12:00:00', timezone: 'America/Denver' },\n    { label: '2027-TC10: Normal Wed Mar 10 2027 — Los Angeles',     dateTime: '2027-03-10T12:00:00', timezone: 'America/Los_Angeles' },\n    { label: '2027-TC11: Saturday Aug 7 2027 — New York',           dateTime: '2027-08-07T12:00:00', timezone: 'America/New_York'   },\n    { label: '2027-TC12: Sunday Sep 5 2027 — Los Angeles',          dateTime: '2027-09-05T12:00:00', timezone: 'America/Los_Angeles' }\n  ]\n}}];\n"
      },
      "id": "SAMPLE_NODE_ID_007",
      "name": "Prepare Manual Test Cases",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        96
      ]
    }
  ],
  "connections": {
    "Input Valid?": {
      "main": [
        [
          {
            "node": "Evaluate Holiday + Business Day",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Input Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Business-Day Utility Manually": {
      "main": [
        [
          {
            "node": "Prepare Manual Test Cases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Called Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Manual Test Cases": {
      "main": [
        [
          {
            "node": "Input Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Called Input": {
      "main": [
        [
          {
            "node": "Input Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "nodeGroups": [],
  "tags": []
}
